body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #333;
    background-color: #f9f9f9;
}
table {
    width: 90%;
    margin: 20px auto;
    color: pink;
}
td {
    vertical-align: top;
    padding: 10px;
}
hr{
    border-color: pink;
}
/*Resume section header text*/
h2{
    color: pink;
}